main {
  --img-size: 20.5rem;
  --gap: 1rem;
  --pd: 1rem;

  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-block: var(--pd);
}

main img {
  width: var(--img-size);
  height: var(--img-size);
  object-fit: cover;
}

@media (width >= 80em) {
  main {
    --img-size: 17.875rem;
    --gap: 1.5rem;
    --pd: 1.5rem;
  }
}
